body, html {
    height: 100%;
  }

body {
    margin: 0;
}

#page-one{
    height: 100%;
    width: 100%;
    background: #E4DBDD;
}

#image{
    height: auto;
}

#navbar{
    padding: 30px;
}

#navbar nav span img{
    width: 72px;
    height: 72px;
    border-radius: 100%;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    margin: 0;
    color: #fcbf1e;
}

p{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    margin: 0;
}

#container div{
    text-align: center;
}

#image img{
    width: 30%;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
